<h2>User Preferences</h2>
<br/>
<h3>Budget Preferences</h3>

<%= render "budgets/form" %>

<h3>Essentials</h3>

<%= button_to "Add Essentials to Grocery List",add_essentials_profile_path%><br/>

<%= form_for(@profile, method: "put") do |f| %>

    <%= f.label :essentials, "Essentials List:" %>
    <%= f.text_field :essentials, :input_html => { :value => @profile.essentials }%>
    
    <%= f.submit "Update Essentials" %>
<% end %>
