<title>Profile</title>
<div id="wrapper">
    <main>
        <div id="content">

	    <h2>User Preferences</h2>
	    <br/>
	    <h3>Budget Preferences</h3>

	    <%= render "budgets/form" %>

	    <h3>Essentials</h3>

	    <%= button_to "Add Essentials to Grocery List",add_essentials_profile_path, :class => 'btn btn-small'%><br/>

	    <%= form_for(@profile, method: "put") do |f| %>
		<div class="row">
		    <div class="col-md-8">
			<%= f.label :essentials, "Essentials List:" %>
			<%= f.text_field :essentials, :input_html => { :value => @profile.essentials }, :class => "form-control" %>
		    </div>
		</div>
		<%= f.submit "Update Essentials", :class => 'btn btn-small' %>
	    <% end %>
	</div>
    </main>
</div>
