<title>Inventory</title>
<pre id="spoonacular-ingredients" style="display:none">
    <% @user.inventory.items.each do |item| %>
	<%= item.amount%> <%= item.unit%> <%= item.name %>
    <% end %>
</pre>
<div id="wrapper">
    <main>
        <div id="content">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<h2>Inventory</h2>
					</div>
					<div class="col-sm-2">
						<br><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary">Add an Item!</button>
					</div>
				</div>
			</div>

			<div id="inventory">
				<%= render "items/update_form" %><br/>
			</div>
	    
            <!--START ADD-->
			<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
				<%= render "items/form" %>
			</div>
			<!--END-->
			<div id="spoonacular-ingredient-visualizer"></div>
			<script type="text/javascript">
			 var spoonacularServings = 2;
			 var spoonacularMeasure = 'us';
			 var spoonacularView = 'grid';
			</script>
        </div>
	
    </main>
</div>
<script type="text/javascript" src="https://spoonacular.com/cdn/spoonacular-1.5.min.js"></script>
