<title>Recipe Information</title>
<div id="wrapper">
	<main>
		<div id="content">

            <div class="container">
				<div class="row">
					<div class="col-sm-6">
                        <h2><%= @body['title'] %></h2>
                    </div>
            		<div class="col-sm-6">
                        <%= form_tag recipes_path, :method => :post do %>
                            <%= hidden_field_tag :information, @body %>
                            <br><%= submit_tag "Save!", type: 'submit', class: "btn btn-small"%>
                        <% end %>
                    </div>
                </div>
            </div>


            <!--FOOD INFO-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <br><h4>Ready in <%= @body['readyInMinutes']%> minutes, Serves <%= @body['servings']%></h4>
                        <br>
                        <img src="<%= @body['image'] %>" style="width:304px;height:228px;">
                    </div>
                    <div class="col-sm-4">
                        <h3>Ingredients</h3>
                        <% @body['extendedIngredients'].each do |ingredient| %>
                            <% if !ingredient['originalString'].empty? %>
                                <%= ingredient['originalString'] %></br></br>
                            <% else %>
                                <%= ingredient['name'] %></br>
                                Amount: <%= ingredient['amount']%> <%= ingredient['unit']%></br>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        <!-- END -->




        <!--PRICE INFO-->
            <h3>Price Breakdown</h3>

            <div class="container">
				<div class="row">
					<div class="col-sm-8">
            <pre id="spoonacular-ingredients" style="display:none">
                <% @getCost.each do |ingredient| %>
                    <%= ingredient %>
                <% end %>
            </pre>
	    <div class="row">
		<div class="col-md-4">
		    <label> MyPlate Standard </label><br>
		    <%= image_tag "myplate", size: "300x275" %>
		</div>
		<div class="col-md-6">
		    <div id="spoonacular-price-estimator"></div>
		</div>
	    </div>
            <script type="text/javascript">
                var spoonacularServings = 4;
                var spoonacularPriceView = 2;
            </script>
            </div>
            </div>
            </div>
            <script type="text/javascript" src="https://spoonacular.com/cdn/spoonacular-1.5.min.js"></script>
            <!--END-->
        </div>
    </main>
</div>
