<title>Search Results</title>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

    <div id="wrapper">
		<main>
			<div id="content">
                <h2>Search Results</h2>

                <% @resp.body['results'].each do |recipe| %>

                    <%= recipe['title'] %></br>
                    Ready In: <%= recipe['readyInMinutes'] %> minutes</br>
		    <%=link_to "View Recipe", search_result_recipes_path(:recipe_id => recipe['id'], :search_api => 1) %> </br>
		    <%= recipe['id'] %>

                <% end %>

                <%= link_to 'Back to Recipes', '/recipes' %>
            </div>
        </main>
    </div>

