<h2><%= @body['title'] %></h2>
Time: <%= @body['readyInMinutes']%> minutes</br>
Servings: <%= @body['servings']%>

<img src="<%= @body['image'] %>" style="width:304px;height:228px;"></br></br>

<h3>Ingredients</h3>

<% @body['extendedIngredients'].each do |ingredient| %>
    <% if !ingredient['originalString'].empty? %>
	<%= ingredient['originalString'] %></br></br>
    <% else %>
	<%= ingredient['name'] %></br>
	Amount: <%= ingredient['amount']%> <%= ingredient['unit']%></br>
    <% end %>
<% end %>
<%=  form_tag recipes_path, :method => :post do %>
    <%= hidden_field_tag :information, @body %>
    <%= submit_tag "Save to Recipes" %>
<% end %>
<h1>Budget/Costs</h1>
	<p><%= @message %></p>
	<pre id="spoonacular-ingredients" style="display:none">
		<% @getCost.each do |ingredient| %>
			<%= ingredient %>
		<% end %>	
	</pre>
	<div id="spoonacular-price-estimator"></div>
<script type="text/javascript">
	var spoonacularServings = 4;
	var spoonacularPriceView = 1;
</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="https://spoonacular.com/cdn/spoonacular-1.5.min.js"></script>
