<title>Signup!</title>
<!-- <body background='http://i.imgur.com/ayEYUZV.jpg'> -->
    <style type="text/css">
        body {
            background-image: url(http://i.imgur.com/ayEYUZV.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
<body>
	<div class="loginform cf">
       <h1> New User Signup </h1>
        <%= form_for :user, url: '/newusers' do |f| %>

            <ul>
                <li>
                    <label>Username</label>
                    <%= f.text_field :user_name %>
                </li>
                <li>
                    <label>Email</label>
                    <%= f.text_field :email %>
                </li><br><br><br>
                <li>
                    <label>Password</label>
                    <%= f.password_field :password %>
                </li>
                <li>
                    <label>Confirmation</label>
                    <%= f.password_field :password_confirmation %>
                </li></br></br>
                <li><%= f.submit "Submit" %></li>
                Already have an account? <%= link_to 'Login', '/login'%>
            </ul>

        <% end %>
    </div>
</body>
